<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    </head>
    <body>
        <div class="wrapper_h1">
            <h1>할 일을 자세히 보자!</h1>
        </div>
        <div class="center">
            <div class="title">
                <p>제목 :</p>
                <div class="element">
                    {{chosen_list.title}}
                </div>
            </div>
            <div class="content">
                <p>내용 :</p>
                <div class="element">
                    {{chosen_list.content}} 
                </div>
            </div>
            <div class="duedate">
                <p>마감기한 :</p>
                <div class="element">
                    {{chosen_list.duedate}}  
                </div>
            </div>
    </div> 
        <div class="center">
            <a class="button" href="{%url 'home' %}">홈으로</a>  
        </div>
    </body>
</html>