{% extends 'base.html' %}
<html>
    <head>
        {% block css %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
        {% endblock css %}
  
    </head>
    <body>
        {% block content %}
        <div class="total_wrapper">
            <div class="wrapper_h1">
                <h1>Edit Schedule</h1>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="center">
                    <div class="title">
                        <p>Title</p>
                        <input class="element_title" name="title" value="{{chosen_list.title}}">
                    </div>
                    <div class="content">
                        <p>Content</p>
                        <input class= "element_content" name="content" value="{{chosen_list.content}}">
                    </div>
                    <div class="duedate">
                        <p>Duedate</p>
                        <input class= "element_duedate" name="duedate" value="{{chosen_list.duedate}}">
                    </div>
                </div>
                <div class="center">
                    <button class="button" type="submit"><span class="material-icons">
                        save_alt
                        </span></button>
                </div>
            </form>
        </div>
        {% endblock content %}
    </body>
</html>