{% extends 'base.html' %}
<html>
    <head>
        {% block css %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href= "{% static 'new.css' %}">
        {% endblock css %}
    </head>

    <body>
        {% block content %}
        <div class="total_wrapper">
            <form method="POST">
                {%csrf_token%}
                <div class="wrapper_h1">
                    <h1>Add Scedule</h1>
                </div>
                <div class="center">
                    <input class="input_title" name="title" placeholder="제목을 입력하세요">
                </div>
                <div class="center">
                    <input class="input_content" name="content" placeholder="내용을 입력하세요">
                </div>
                <div class="center">
                    <input class="input_duedate" name="duedate" placeholder="마감기한을 입력하세요(YYYYMMDD)">
                </div>
                <div class="center">
                    <button class="button" type="submit"><span class="material-icons">
                        save_alt
                        </span></button>
                </div>
            </form>
        </div>
        {% endblock content %}
    </body>
</html>